
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1f1f1f;
    padding: 20px;

    color: #DFDFDF;
}

.main-box {
    background-color: #2f2f2f;
    padding: 15px;

    width: 960px;
    max-width: 90%;

    text-align: center;
}
.main-subbox {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    text-align: left;
}

.main-title {
    color: #3380FF;
    font-family: BrokenHome, sans-serif;
}